# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store) and others
*~
*.tmp
*.temp
*.lock
*.DS_Store
.*.swp
*.out
/server/config.php

/doc/*
/.idea/

# except this file
!.gitignore
